<table id="inbox-table" class="table table-striped table-hover">
	<tbody>


 {% for row in list %}
      <tr id="{{ row.id }}" class="unread" onclick="printMessage({{ row.id }})">
			<td class="inbox-table-icon">
				<div class="checkbox">
					<label>
						<input type="checkbox" class="checkbox style-2">
						<span></span> </label>
				</div>
			</td>
			<td class="inbox-data-from hidden-xs hidden-sm">
				<div>
	{% for row2 in user %}
		
		   {% if  row2.id == row.idUserOrigin %}
              {{ row2.Name }}

		   {% endif %}
		{% endfor %}

		
				</div>
				
			</td>
			<td class="inbox-data-message">
				<div>
					<span></span>{{ row.subjectInbox }}
				</div>
			</td>
		
			<td class="inbox-data-date hidden-xs">
				<div>
						{{ row.dateCreated|date("m/d/Y") }}
				</div>
			</td>
		</tr>

 {% endfor %}

		
		

	</tbody>
</table>

<script>
	
	//Gets tooltips activated
	function printMessage (id) {

		$.ajax({
			type: "POST",
			url: "{{  path('inboxOpenMessage') }}",
			data: { id:id },
		         }).done(function( msg )
		          {
			$('#inbox-content > .table-wrap').html(msg);
		      })

	}

	$("#inbox-table [rel=tooltip]").tooltip();

	$("#inbox-table input[type='checkbox']").change(function() {
		$(this).closest('tr').toggleClass("highlight", this.checked);
	});

	$("#inbox-table .inbox-data-message").click(function() {
		$this = $(this);
		getMail($this);
	})
	$("#inbox-table .inbox-data-from").click(function() {
		$this = $(this);
		getMail($this);
	})
	function getMail($this) {
		//console.log($this.closest("tr").attr("id"));

		//loadURL("ajax/email-opened.html", $('#inbox-content > .table-wrap'));


			
	}


	$('.inbox-table-icon input:checkbox').click(function() {
		enableDeleteButton();
	})

	$(".deletebutton").click(function() {
		$('#inbox-table td input:checkbox:checked').parents("tr").rowslide();
		//$(".inbox-checkbox-triggered").removeClass('visible');
		//$("#compose-mail").show();
	});

	function enableDeleteButton() {
		var isChecked = $('.inbox-table-icon input:checkbox').is(':checked');

		if (isChecked) {
			$(".inbox-checkbox-triggered").addClass('visible');
			//$("#compose-mail").hide();
		} else {
			$(".inbox-checkbox-triggered").removeClass('visible');
			//$("#compose-mail").show();
		}
	}
	
</script>
