<h1>Mensaje SeekerPLus</h1>
<h1>Asunto:</h1>
<h2>{{ Subject }}</h2>

<h1>Señores</h1>
<h2>{{ Company }}</h2>
<!--
<h2> {{ Name }}</h2>
-->
<h1>Me remito a ustedes para:</h1>
<h2>{{ Messaje }}</h2>

<h1>Atentamente:</h1>
<h2>{{ nameOrigin }}</h2>
<h2>Correo: {{ emailOrigin }}</h2>